<table>
    <tr>
        <th>Id</th>
        <th>Adres</th>
        <th>Trasa</th>
        <th>Geokodowanie</th>
    </tr>
    <%_ for(let order of orders){ _%>
        <tr>
            <td><%= order.id %></td>
            <td>
                <%= order.town %><br>
                <%= order.street %><br>
                <%= order.number %><br>
                <%= order.postal_code %>
            </td>
            <td style="background-color: <%= order.color %>;"><%= order.transport %></td>
            <td style="color: <%= order.geocode_status_color %>;" ><%= order.geocode_status_name %></td>
        </tr>
    <%_ } _%>
</table>